body {
    font-family: Arial;
    background: #f0f2f5;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

.links a {
    display: block;
    margin: 5px;
}

header {
    background: blue;
    color: white;
    padding: 10px;
}

.menu {
    background: #ddd;
    padding: 10px;
}

.menu a {
    margin: 10px;
}

.post {
    background: white;
    margin: 10px;
    padding: 10px;
}